# Домашнее задание 1 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [1]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [78]:
st_info = pd.DataFrame()
grades_info = pd.DataFrame()

for i in range(10):
    file_name = f'Data/Students_info_{i}.csv'
    # st_info = pd.concat([st_info, pd.read_csv(file_name, sep=',', index_col='index')])
    st_info = pd.concat([st_info, pd.read_csv(file_name, sep=',')])
    
    file_name_grades = f'Data/Students_marks_{i}.csv'
    # grades_info = pd.concat([grades_info, pd.read_csv(file_name_grades, sep=',', index_col='index')])
    grades_info = pd.concat([grades_info, pd.read_csv(file_name_grades, sep=',')])


st_info.reset_index(inplace=True, drop=True)
grades_info.reset_index(inplace=True, drop=True)

df = st_info.join(grades_info, lsuffix='_ST', rsuffix='_GR')
display(df)

,index_ST,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,index_GR,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,0,72,72,74
1,1,female,group C,some college,standard,completed,group1,1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,2,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,3,47,57,44
4,4,male,group C,some college,standard,none,group1,4,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...
995,995,female,group E,master's degree,standard,completed,group10,995,88,99,95
996,996,male,group C,high school,free/reduced,none,group10,996,62,55,55
997,997,female,group C,high school,free/reduced,completed,group10,997,59,71,65
998,998,female,group D,some college,standard,completed,group10,998,68,78,77
999,999,female,group D,some college,free/reduced,none,group10,999,77,86,86

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [79]:
df.drop(['index_ST', 'index_GR'], axis=1, inplace=True)

In [80]:
df.index.names=['index']

#### Задание 3. Выведите на экран размеры полученной таблицы

In [81]:
print(f'Число строк в каркасе данных = {df.shape[0]}\nЧисло столбцов в каркасе данных = {df.shape[1]}')

Число строк в каркасе данных = 1000
Число столбцов в каркасе данных = 9

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

#### std - стандартное отклонение, числа с процентами - квантили

In [82]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [107]:
if df.isnull().values.any():
    print('NaN в датафрейме присутствуют')
else:
    print('Все на месте, пропусков нет')

Все на месте, пропусков нет

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [110]:
subjs = ['math', 'reading', 'writing']

for s in subjs:
    print(f'Средний балл по {s} = {df[f"{s} score"].mean()}')

Средний балл по math = 66.089
Средний балл по reading = 69.169
Средний балл по writing = 68.054

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [128]:
for s in subjs:
    print(f'Предмет {s}: ')
    display(df.groupby('test preparation course')[f'{s} score'].mean())
    print('+' * 80, '\n')

Предмет math:

test preparation course
completed    69.695531
none         64.077882
Name: math score, dtype: float64

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Предмет reading:

test preparation course
completed    73.893855
none         66.534268
Name: reading score, dtype: float64

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Предмет writing:

test preparation course
completed    74.418994
none         64.504673
Name: writing score, dtype: float64

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

In [118]:
# По всем предметам заметно, что существует разница в результатах в пользу тех, кто проходил подготовительный курс

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [134]:
print("Значения для столбца 'lunch': \n")
for x in df['lunch'].unique():
    print(x)

Значения для столбца 'lunch':

standard
free/reduced

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [147]:
df.rename(columns={'parental level of education': 'education', 'test preparation course': 'test preparation'}, inplace=True)

In [149]:
df

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
index,,,,,,,,,
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,group10,88,99,95
996,male,group C,high school,free/reduced,none,group10,62,55,55
997,female,group C,high school,free/reduced,completed,group10,59,71,65
998,female,group D,some college,standard,completed,group10,68,78,77
999,female,group D,some college,free/reduced,none,group10,77,86,86

**Зафиксируем минимальный балл для сдачи экзамена**

In [150]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [155]:
print('Доля сдавших матешу = ', df[(df['math score'] >= passmark)].shape[0] / df.shape[0])

print('Доля проходивших курс по подготовке и сдавших матешу = ', 
      df[(df['math score'] >= passmark) & (df['test preparation'] == 'completed')].shape[0] / df[(df['test preparation'] == 'completed')].shape[0])
# То есть доля сдавших матешу среди тех, кто посещал курсы

print('Последняя доля, которую просили посчитать = ',
     df[(df['gender'] == 'female') & (df['test preparation'] == 'none') & (df['math score'] < passmark)].shape[0] / df[(df['gender'] == 'female') & (df['test preparation'] == 'none')].shape[0])

Доля сдавших матешу =  0.865
Доля проходивших курс по подготовке и сдавших матешу =  0.9217877094972067
Последняя доля, которую просили посчитать =  0.20958083832335328

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [163]:
%%time

print('Разбиение среднего по этническим группам: ')
display(df.groupby('race/ethnicity')['reading score'].mean())

Разбиение среднего по этническим группам:

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

CPU times: user 7.69 ms, sys: 1.38 ms, total: 9.06 ms
Wall time: 10.1 ms

In [186]:
%%time

print('Разбиение минимального балла по всем уровням образования')
display(df.groupby('education')['reading score'].min())

Разбиение минимального балла по всем уровням образования

education
associate's degree    31
bachelor's degree     41
high school           24
master's degree       42
some college          23
some high school      17
Name: reading score, dtype: int64

CPU times: user 6.86 ms, sys: 3.07 ms, total: 9.93 ms
Wall time: 10.9 ms

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [187]:
%%time
ethnicities = list(df['race/ethnicity'].unique())
for eth in ethnicities:
    print(eth, '   ', df[(df['race/ethnicity'] == eth)]['reading score'].mean())

group B     67.35263157894737
group C     69.10344827586206
group A     64.67415730337079
group D     70.03053435114504
group E     73.02857142857142
CPU times: user 11.4 ms, sys: 3.1 ms, total: 14.5 ms
Wall time: 13.8 ms

В данном случае вышло, что разница во времени не столь большая, но это из-за того, что у нас маленький объем данных - всего лишь 1000 строк. Если бы объем был больше - 500 тыщ, миллион итд, то разница была бы существенной.

In [191]:
%%time

education_degrees = list(df['education'].unique())
for edu in education_degrees:
    print(edu + ':\n', df[(df['education'] == edu)]['reading score'].min(), '\n')

bachelor's degree:
 41

some college:
 23

master's degree:
 42

associate's degree:
 31

high school:
 24

some high school:
 17

CPU times: user 12.5 ms, sys: 3.51 ms, total: 16 ms
Wall time: 15.5 ms

Опять же, разница есть в пользу встроенный методов, но она не слишком большая. Все дело в небольшом объеме данных.

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [195]:
import numpy as np

# Импортируем, чтобы иметь возможность явно указывать агрегирующую функцию в сводной таблице

In [198]:
grouped = pd.pivot_table(df, index=['gender', 'education'], aggfunc={'math score': np.mean, 'reading score': np.mean, 'writing score': np.mean})
display(grouped)

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [211]:
subjs = ['Math', 'Reading', 'Writing']

for subj in subjs:
    df[f'{subj}_PassStatus'] = df[f'{subj} score'.lower()].apply(lambda s: 'P' if s >= passmark else 'F')
    print(f'Число сдавших {subj} = ', df[(df[f'{subj}_PassStatus'] == 'P')]['lunch'].count())
    print(f'Число НЕ сдавших {subj} = ', df[(df[f'{subj}_PassStatus'] == 'F')]['lunch'].count(), '\n\n')

Число сдавших Math =  865
Число НЕ сдавших Math =  135


Число сдавших Reading =  910
Число НЕ сдавших Reading =  90


Число сдавших Writing =  886
Число НЕ сдавших Writing =  114

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [225]:
df['OverAll_PassStatus'] = df[['Math_PassStatus', 'Reading_PassStatus', 'Writing_PassStatus']].apply(lambda x: 'P' if x[0]=='P' and x[1]=='P' and x[2]=='P' else 'F', axis=1)

print('Число сдавших все = ', df[(df['OverAll_PassStatus'] == 'P')]['lunch'].count())

Число сдавших все =  812

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [227]:
def GetGrade(average_mark):

    if average_mark > 90:
        grade = 'A'
    elif average_mark > 80:
        grade = 'B'
    elif average_mark > 70:
        grade = 'C'
    elif average_mark > 60:
        grade = 'D'
    elif average_mark > 50:
        grade = 'E'
    else:
        grade = 'F'
    
    return grade

In [228]:
df['Grade'] = df[['math score', 'reading score', 'writing score']].apply(lambda x: GetGrade((x[0] + x[1] + x[2]) / 3), axis=1)

In [230]:
df.groupby('Grade')['lunch'].count()

Grade
A     50
B    144
C    253
D    260
E    184
F    109
Name: lunch, dtype: int64